@charset "UTF - 8";

body {
            background-image: url("../imagens/wallpaper003.jpg");
            height: 96vh;
            background-position: center center;
            background-size: 1920px 920px;
        }

        h1 {
            background-color: rgba(250, 235, 215, 0.603);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: lighter;
            font-size: 3em;
            color: white;
            border-radius: 10px;
            width: 500px;
            margin: auto;
            text-align: center;
            margin-top: 20px;
            }

            div.quadrado {
                border: 3px solid black;
                width: 500px;
                height: 200px;
                margin: auto;
                margin-top: 30px;

            }

            div#q1 {
                padding-top: 10px;
                background-image: url("../imagens/wallpaper004.jpg") ;
                background-position: top center;
                background-size: 500px 300px;
            }

             div#q2 {
                padding-top: 10px;
                background-image: linear-gradient(to left, white,rgb(251, 224, 255)
                );
            }

            div#q2:hover {
                background-image: url("../imagens/pattern001.png");
                background-repeat: no-repeat;
                background-position: center center;
            
            }

            .quadrado h2 {
                color: white;
                text-align: center;
                padding: 130px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-weight: lighter;
                
                }

            div#q2 > h2 {
                display: none;
            }

            div#q2:hover > h2 {
                display: block;
                text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
                
            }